body {
  color: rgba(255, 255, 255, 0.84);
}

.landing-wrapper {
  display: flex;
  justify-content: center;
  background-color: var(--landing);
}

.buttons {
  flex-wrap: wrap;
  max-width: 400px;
  margin: 0 auto;
}

.button {
  background: var(--tertiary);
  border-radius: var(--radius);
  margin: 8px;
  padding: 6px;
  transition: transform 0.1s;
}

.button-inner {
  padding: 0 8px;
}

.button:active {
  transform: scale(0.96);
}

.landing {
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.alpha-button {
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(185, 173, 255, 0.6);
  box-sizing: border-box;
  border-radius: 60px;
  color: #b9adff;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.2px;
  font-size: clamp(0.5rem, -0.875rem + 8.333vw, 0.75rem);
  line-height: clamp(0.75rem, -0.875rem + 8.333vw, 1.5rem);
  padding: 7px 12px;
  margin-top: 10px;
}

@media screen and (max-width: 782px) {
  .landing {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  .alpha-button {
    font-size: 8px;
    line-height: 10px;
    padding: 7px 12px;
    margin-top: 2px;
  }
}

.moonpot-logo {
  position: absolute;
  top: 24px;
  left: 7.5%;
  z-index: 2;
}

.landing-heading {
  position: absolute;
  z-index: 2;
  left: 7.5%;
  top: 25%;
  font-family: -apple-system, Ubuntu, Roboto, BlinkMacSystemFont, "Segoe UI",
    Oxygen, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: clamp(1rem, -0.875rem + 8.333vw, 2rem);
  line-height: clamp(2rem, -0.875rem + 8.333vw, 3rem);
  overflow: hidden;
}

.landing-text {
  margin-bottom: 48px;
}

.landing-text-break-desktop {
  display: block;
}

.learn-more-content-mobile {
  display: none;
}

@media screen and (max-width: 782px) {
  .landing-heading {
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: clamp(5rem, -0.875rem + 8.333vw, 8rem);
  }

  .landing-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* font-size: clamp(1rem, -0.875rem + 8.333vw, 1.5rem); */
    font-size: clamp(1rem, -0.875rem + 8.333vw, 1.5rem);
    /* line-height: clamp(1.75rem, -0.875rem + 8.333vw, 2rem); */
    line-height: clamp(1.75rem, -0.875rem + 8.333vw, 2rem);
    margin-bottom: 0px;
  }

  .landing-text-break-desktop {
    display: none;
  }
}

@media screen and (max-height: 520px) and (orientation: portrait) {
  .landing-heading {
    top: 4rem;
  }
  .landing-text {
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-height: 474px) and (orientation: portrait) {
  .landing-heading {
    top: 3.75rem;
  }
  .landing-text {
    font-size: 12px;
    line-height: 16px;
  }
}

.learn-more-content-desktop {
  width: 55%;
  display: flex;
  flex-wrap: wrap;
}

.play-button-desktop {
  background-color: white;
  border-radius: 38px;
  color: #6753db;
  font-size: 15px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  padding: 12px 59px;
}

.powered-by-beefy-desktop {
  font-weight: 300;
  font-size: 12px;
  line-height: 20px;
  color: #f2f0f5;
  display: flex;
  margin-top: 10px;
}

.powered-by-beefy-desktop span {
  text-decoration: underline;
  color: #f2f0f5;
}

.powered-by-text-desktop {
  margin-right: 5px;
}

.beefy-logo-desktop {
  margin-left: 5px;
}

.binance-smart-chain {
  color: #f3ba2e;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.5px;
  display: inline;
}

.bsc-logo-container {
  width: 90%;
  margin: 5px;
}

@media screen and (max-width: 782px) {
  .bsc-logo-container {
    width: 70%;
    margin: 3px;
  }
}

@media screen and (max-height: 520px) {
  .bsc-logo-container {
    width: 60%;
    margin: 1px;
  }
}

@media screen and (max-height: 474px) {
  .bsc-logo-container {
    width: 50%;
  }
}

@media screen and (max-width: 782px) {
  .learn-more-content-desktop {
    display: none;
  }

  .play-button-mobile {
    background-color: white;
    border-radius: 38px;
    color: #6753db;
    font-size: clamp(0.5rem, -0.875rem + 8.333vw, 1rem);
    line-height: clamp(0.75rem, -0.875rem + 8.333vw, 1.5rem);
    font-weight: 700;
    text-align: center;
    width: 75%;
    padding: 0.5rem 1rem;
  }

  .powered-by-beefy-mobile {
    font-weight: 300;
    font-size: clamp(0.4rem, -0.875rem + 8.333vw, 0.6rem);
    line-height: clamp(0.5rem, -0.875rem + 8.333vw, 1rem);
    color: #f2f0f5;
    display: flex;
    margin-top: 10px;
  }

  .powered-by-beefy-mobile span {
    text-decoration: underline;
  }

  .powered-by-text-mobile {
    margin-right: 5px;
  }

  .beefy-logo-mobile {
    margin-left: 5px;
  }
}

.landing-layered-footer {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  bottom: 2.5%;
}

.landing-desktop-container {
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

@media screen and (max-width: 1350px) {
  .landing-desktop-container {
    display: flex;
    align-items: flex-end;
    width: 100%;
    max-width: 100%;
  }
}

.landing-desktop {
  max-width: 100%;
  width: 100%;
  object-fit: fill;
  /* height: auto; */
  pointer-events: none;
}

.landing-mobile-container {
  display: none;
}

@media screen and (max-width: 782px) {
  .landing-desktop-container {
    display: none;
  }
  .landing-mobile-container {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 448px) {
  .landing-mobile-container {
    align-items: center;
  }
}

@media screen and (min-height: 745px) and (max-width: 448px) {
  .landing-mobile-container {
    align-items: flex-end;
  }
}

@media screen and (min-height: 580px) and (max-width: 282px) {
  .landing-mobile-container {
    align-items: flex-end;
  }
}

@media screen and (max-width: 782px) {
  .landing-mobile {
    max-width: 100%;
    width: 100%;
    object-fit: fill;
    /* height: auto; */
    pointer-events: none;
  }
}

.social-icons {
  margin-top: 1rem;
  justify-content: center;
  display: flex;
}

.social-media-button {
  margin-inline: 12px;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 782px) {
  .landing-layered-footer {
    bottom: 0.25%;
  }

  .learn-more-content-mobile {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .play-button-mobile {
    font-size: 12px;
    line-height: 14px;
    width: 75%;
    padding: 0.75rem 1.25rem;
  }

  .powered-by-beefy-mobile {
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    margin-top: 8px;
  }

  .powered-by-text-mobile {
    margin-right: 5px;
  }

  .beefy-logo-mobile {
    margin-left: 5px;
  }

  .social-icons {
    margin-top: 1px;
    justify-content: center;
    display: flex;
  }

  .social-media-button {
    margin-inline: 6px;
  }
}
