{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}
{{- /* Head custom content area end */ -}}
<style type="text/css">
        @import url('https://fonts.googleapis.com/css2?family=Ubuntu');
</style>

<!-- Fathom - beautiful, simple website analytics -->
<script src='{{ getenv "FATHOM_SITE_URL" }}' data-site='{{ getenv "FATHOM_SITE_ID" }}' defer></script>
<!-- / Fathom -->
