{{- with .Site.Params.Footer}}
    <div class="social-icons">
        <a class="social-media-button" href="https://github.com/moonpotdev">
            <img src="{{ .github }}" alt="{{ "GitHub" }}" />
        </a>
        <a class="social-media-button" href="https://t.me/moonpotdotcom">
            <img src="{{ .telegram }}" alt="{{ "Telegram" }}" />
        </a>
        <a class="social-media-button" href="https://discord.gg/8YquFwfw3N">
            <img src="{{ .discord }}" alt="{{ "Discord" }}" />
        </a>
        <a class="social-media-button" href="https://www.youtube.com/channel/UCCwZh5FBKusmzmT5Q3Yisdg">
            <img src="{{ .youtube }}" alt="{{ "YouTube" }}" />
        </a>
        <a class="social-media-button" href="https://twitter.com/moonpotdotcom">
            <img src="{{ .twitter }}" alt="{{ "Twitter" }}" />
        </a>
    </div>
{{- end}}