{{- with .Site.Params.Footer}}
    <div class="social-icons">
        <a class="social-media-button" href="https://github.com/beefyfinance">
            <img src="{{ .github }}" alt="{{ "GitHub" }}" />
        </a>
        <a class="social-media-button" href="https://t.me/beefyfinance">
            <img src="{{ .telegram }}" alt="{{ "Telegram" }}" />
        </a>
        <a class="social-media-button" href="https://discord.gg/beefyfinance">
            <img src="{{ .discord }}" alt="{{ "Discord" }}" />
        </a>
        <a class="social-media-button" href="https://www.youtube.com/c/BeefyFinance">
            <img src="{{ .youtube }}" alt="{{ "YouTube" }}" />
        </a>
        <a class="social-media-button" href="https://twitter.com/beefyfinance">
            <img src="{{ .twitter }}" alt="{{ "Twitter" }}" />
        </a>
    </div>
{{- end}}